<meta name="description" content="We hope to create a home for all things JuniorDev." />
<meta property="og:site_name" content="Junior Developers Singapore" />
<meta property="og:title" content="JuniorDev.SG" />
<meta property="og:type" content="website" />
<meta property="og:description" content="We hope to create a home for all things JuniorDev." />
<meta property="og:url" content="https://juniordev.sg/" />
<meta property="og:image" content="https://juniordev.sg/images/JDGreyCircle_small.png" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@juniordevsg" />
<meta name="twitter:title" content="JuniorDev.SG" />
<meta name="twitter:description" content="We hope to create a home for all things JuniorDev." />
<meta name="twitter:image" content="https://juniordev.sg/images/JDGreyCircle_small.png" />